PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/smarttrip?retryWrites=true&w=majority
JWT_SECRET=smarttrip_super_secret_jwt_key_2026
JWT_EXPIRES_IN=30d
NODE_ENV=development
